.Modal {
    position: absolute;
    z-index: 500;
    background-color: white;
    transition: all 0.4s ease-out;
}

.pmModal{
    top: 15%;
    left: 15%;
}

.itoModal{
    top: 27%;
    left: 37%;
}

/* .Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.4s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: auto;
        left: calc(50% - 250px);
    }
} */