.procMgrContainerImg {
    /* width: 300px;
    height:200px; */
    width: 100%;
    height:100%;
}

.procurementContainer{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 25px;
}

.workflowContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
    grid-row: 1;
    grid-column: 1/-1;
}

.nextButtonContainer{
    grid-row: 3;
    grid-column: 2;
    display: flex;
    /* justify-content: flex-end; */
}

.circleLine{
    display: flex;
    align-items: center;

}

.workflow{
    display: flex;
    align-items: center;
}

.documentContextContainer{
    display: flex;
    grid-row: 2;
    grid-column: 1;
    background-color: #FFFFFF;
    margin: 15px;
    /* border: 1px solid black;  */
    /* height: 100px; */
}

.blockchainListenerContainer{
    display: flex;
    grid-row: 2;
    grid-column: 2;
    background-color: #FFFFFF;
    margin: 15px;
    /* border: 3px solid purple; */
    /* height: 100px; */
}

.step{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.stepName{
    margin-left: 8px;
}