.procMgrContainerImg {
    /* width: 300px;
    height:200px; */
    width: 100%;
    height:100%;
}

.procurementContainer{
    display: grid;
    grid-template-rows: 10vh 55vh 2vh;
    grid-template-columns: 1fr;
    grid-row-gap: 8%;
}

.workflowContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
    grid-row: 1;
    grid-column: 1/-1;

}
.circleLine{
    display: flex;
    align-items: center;

}

.workflow{
    display: flex;
    align-items: center;
}

.procurementContent{
    display: grid;
    grid-template-rows: 45% 45% 10%;
    grid-template-columns: 24% 24% 24% 24%;
    grid-row: 2;
    grid-column-gap: 1%;
    grid-row-gap: 19px;
    
}

/* .nextButtonContainer{ */
    /* grid-row: 3;
    grid-column: 3; */
    /* display: flex;
    justify-content: flex-end;
} */

.documentContextContainer{
    display: flex;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    flex-direction: column;
    background-color: #FFFFFF;
    /* width: min-content; */
    /* width: 25%; */
    /* margin: 15px; */
    /* border: 1px solid black;  */
    /* height: 100px; */
}
.bcTitles{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.blockchainListenerContainer{
    display: flex;
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #FFFFFF;
    /* margin: 15px; */
    flex-direction: column;
    /* max-height: 588px; */
    overflow-y: auto;
    /* width: 25%; */
    /* border: 3px solid purple; */
    /* height: 100px; */
}

.mediaContainer{
    /* display: flex; */
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #FFFFFF;
    /* width: 25%; */
    /* margin: 15px; */
}
.currentBlockContainer{
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    grid-row: 2;
    /* width: 100%; */
    /* justify-content: flex-end; */
}

.step{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.stepName{
    margin-left: 8px;
}

.procurementImgs{
    max-width: 100%;
  height: auto;
}

.bcContents{
display: flex;
/* border-color:#A2A2A2 ; */
/* border-top: 1px solid #A2A2A2; */
border-bottom: 1px solid #A2A2A2;
padding: 20px;
/* width: 100%; */
/* flex-direction: column; */
}

.blockchainbutton{
    /* width: 100%; */
    /* height: 20%; */
    color: #ccd5e0;
    background: #0062ff;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 4;
    grid-row: 3;
    text-align: left;
    padding: 0px 15px 0px 30px;
    color: white;
}

.rightArrow {
    transform: scale(.75,.75);

}