.itCard{
    display: flex;
    width: auto;
    height: 310px;
    width: 320px;
    margin: 5px;
    /* margin-right: 26px; */
}

.sysStatusContainer{
    display: flex;
    /* border: 2px solid purple; */
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.ito_card_graph{
    display: flex;
    /* border: 2px solid purple; */
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.reddot {
    height: 10px;
    width: 10px;
    background-color:#F70000;
    border-radius: 50%;
    display: inline-block;
    text-align: left;
    margin-right: 10px;
  }

.titleStatusContainer{
    display: flex;
    /* border: 1px solid green; */
    font-weight: 600;
    /* height: 60px; */
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}

.title{
    display: flex;
    width: 50%;
    height: 60px;
    align-items: center;
    /* align-items: flex-start; */
}

.status{
    display: flex;
    /* width: 50%; */
    /* align-items: flex-end; */
}
.select_line_container{
    display: flex;
    padding:10px;
    /* border-top: 1px solid #C1C1C1;
    border-bottom: 1px solid #C1C1C1; */
    background-color: #E5E5E5;
    align-items: center;
}

.select_line_container_items{
    padding-left: 30px;
}
.activitiesContainer{
    display: flex;
}
.lines_rb_container{
    display: flex;
    /* padding:15px; */
    align-items: flex-start;
}

.rb_line{
    display: flex;
    flex-direction: column;
    padding: 5px;
    /* border: 1px solid #C4C4C4; */
    background-color: #FFFFFF;
    min-width: 82px;
    min-height: 82px;
    margin: 3px;
    justify-content: space-between;
}

/* .rb_line_top{
    display: flex;
}

.rb_line_bottom{
    display: flex;
} */

.target_watson_container{
    display: flex;
}

.target_container{
    display: flex;
    flex-direction: column;
    border-right: 1px solid #C1C1C1;
    padding:20px; 
}

.ito_list{
    /* border-bottom: 1px solid #C1C1C1; */
    /* margin: 15px;
    padding: 5px 20px 20px 20px; */
    margin: 12px 20px;
    padding: 5px 0 20px 0px;
}

.ito_list_border{
    border-bottom: 1px solid #C1C1C1;
    /* margin: 15px;
    padding: 20px; */
}
/* .rb_gaugeContainer{
    height: 100%;
    width: 100%;
    border: 1px solid black;
} */

.prodRate{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 46px;
    padding-left: 20px;
}

.rollback_modal{
    background-color: #F3F3F3;
}

.snapshotsContainer{
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.snapshot_names_list{
    display:flex;
    flex-direction: column;
    height: 240px;
    width: 240px;
    overflow-y: auto;
}

.snapshot{
    width: 200px;
    display: flex;
    padding: 20px 10px 5px 10px;
    border-bottom: 1px solid #E5E5E5;
}

.watson_suggests{
    padding: 10px;
}

.target_textbox{
    width:108px;
    height: 40px;
    background-color: white;
    margin: 5px;
    color: black;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.target_month_day{
    display: flex;
}

.target_date{
    padding: 15px;
}

.rollback_title{
    padding: 20px;
    border-bottom: 1px solid #C1C1C1;
}

.rollback_popup_init{
    /* border: 1px solid black; */
    display: flex;
    align-items:center;
    justify-content: space-between; 
    /* width: 100%; */
    
}

.rollback_popup_init_popup{
    height: 60px;
    background-color: #0062FF;
    color: white;
    /* padding: 0 25px; */
}

.rollback_button_container{
    padding: 0 25px; 
}

.oeeDropdown{
    border: 1px solid #D7DAE2;
    width: 130px;
    height: 32px;
    /* box-shadow: 0px 2px 3px #000000; */
    border-radius: 4px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    font-size: 14px;
}

.prodRateContainer{
    /* align-items: center; */
    justify-content: center;
    /* padding: 20px; */
}

.smdefinition{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* align-items: stretch;  */
}

.drarrow{
    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    width: 100%;
}

.confirm_popup{
    padding: 20px;
    min-height: 200px;
    width: 300px;
}

.confirm_popup_button{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.confirm_popup_button-black{
    background-color: black;
}

.confirm_popup_button-blue{
    background-color: #0062FF;
}
