.Ematable {
  width: 100%;
  
}

.EmaTh {
  background-color: #0062ff;
  color: white;
  font-family: "IbmPlexLight";
  border: none;
  padding: 10px;
}

.EmaTd {
  border: none;
  background-color: #e4e4e4;
  font-family: "IbmPlexLight";
  padding: 10px;
}

tr:hover td {
  background-color: #b3b1b1;
}

.ApproveButton,
.ApproveButton button{
  background-color: #707070;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 14px;
  padding: 5px 2px 5px 0;
  color: white;

  /* border: 1px solid black; */
}

.closed{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#808080;
}

/* table#emaTableid,
table#emaTableid tr{
  border:none !important;
} */