.Ematable {
  width: 100%;
  
}

.EmaTh {
  background-color: #0062ff;
  color: white;
  font-family: "IbmPlexLight";
  border: none;
  padding: 10px;
}

.EmaTd {
  border: none;
  background-color: white;
  font-family: "IbmPlexLight";
  padding: 10px;
  /* cursor: pointer; */
}
.emaTableContainer{
  height: 70vh;
  overflow: scroll;
}

.EmaResultTd {
  border: none;
  background-color: white;
  font-weight: 600;
  padding: 10px;
}

tr:hover td {
  background-color: #707070;
  color: white;
  /* cursor: wait; */
}

.ApproveButton,
.ApproveButton button{
  background-color: inherit;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 14px;
  padding: 5px 2px 5px 0;
  color: white;

  /* border: 1px solid black; */
}

.Abutton{
  background-color: #6BC764; 
}

.Cbutton{
  background-color: #5CA7FF;
}

.closed{
  display: flex;
  justify-content: center;
  align-items: center;
  color:#808080;
}

/* table#emaTableid,
table#emaTableid tr{
  border:none !important;
} */