/* .dashboardContainer{
    display: flex;
    flex-direction: column;
} */

.pmDataContainer{
    display: flex;
    /* flex-direction: column; */
}

.tab{
    border-bottom: 1px solid #D7D7D7;
    padding: 10px 10px 0px 10px;
}

.tabData{
    /* border-right: 1px solid #D7D7D7; */
    width: 22%;
    border-bottom: 1px solid #0061FF;
    border-width: thick;
    text-align : start;
    font-weight: 600;
}