.icon {
    z-index: 0;
    display: flex;
    justify-content: flex-end;

}
.dropdown-elements {

    display: flex;
    flex-direction: column;
    box-shadow: 0px 3px 15px 3px rgba(30.5,30.5,30.5,1);
    background-color: #056CF9;
    font-size: 16px;
    transition: width .5s, font-size .5s, opacity .5s;
}


.DropdownContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 5;
}




