.smDashboardContainer{
    /* display: flex; */
    /* flex-direction: column; */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:30% 20% 30% 20%;
    /* border: 1px solid black; */
}

.smlistContainer{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    /* padding: 20px; */
}

.smlistContainer-grid1{
  grid-row: 1;
  grid-column-end: 2;
  grid-column-start: 1;  
  border-right: 1px solid #707070;
  padding-right: 20px;
  /* min-width: min-content; */
}

.smlistContainer-grid2{
    grid-row: 1;
    grid-column-end: 3;
    grid-column-start: 2;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-width: min-content; */
  }

.smlistContainer-grid3{
    grid-row: 1;
    grid-column-end: 4;
    grid-column-start: 3;  
    border-left: 1px solid #707070;
    padding-left: 20px;
    /* min-width: min-content; */
  }

.smfile{
    margin: 5px;
    display: flex;
    min-width: 250px;
    min-height: 52px;
    align-items: center;
    padding-left: 15px;
    /* align-content: center; */
}

.smfile-white{
    background-color: #FFFFFF;
}

.smfile-grey{
    background-color: #535353;
    color: white;
}

.smarrow{
    /* background-color: #A4A8AD; */
    /* border: 1px solid black; */
    min-width: 152px;
    min-height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smarrow-blue{
    background-color: #A4A8AD;
}

.smarrow-grey{
    background-color: #0062FF;
}