.screenTop{
    display: flex;
    align-content: flex-start;
    padding-left: 31px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 14px;
    flex-direction: column;
    /* border: 1px solid darkorange; */
}

/* .redbar{
    width: 100%;
    background-color: #F70000;
    border: 1px solid black;
    height: 25px;
} */