.health-container {
    position: relative;
    text-align: left;
    margin: 2.5% 10% 30% 5%;
}
.score {
    font-size: 900%;
    color: #ffffff;
}

.title{
    color: #A4A4A4;
    font-size: 22px;
    font-family: "IBMPlexSans";
}

