/* .imgContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 300px;
    width: 250px;
} */
@font-face {
    font-family: "IbmPlexLight";
    src: url("../../../../../assets/fonts/IBMPlexSans-Light.ttf");
    font-weight: normal;
    font-style: normal;
  }

.pmContainer {
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid #D7D7D7; */
    height: 95%;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}

.pmContainerRight {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D7D7D7;
    height: 35%;
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
.pmContainerLeft {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #D7D7D7;
    height: 95%;
    width: 50%;
    /* margin: 0 auto; */
    padding: 5px;
    justify-content: center;
    align-items: center;
} */

.pmDetails {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 90%;
    margin: 5px;
    justify-content: center;
    align-items: center;
}

.headers{
    display: flex;
    font-weight: bold;
    font-size: 1em;
    flex-direction:row;
    justify-content: space-around;
    font-family:"IbmPlexLight"
}