/* .imgContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    height: 300px;
    width: 250px;
} */
@font-face {
    font-family: "IbmPlexLight";
    src: url("../../../../../assets/fonts/IBMPlexSans-Light.ttf");
    font-weight: normal;
    font-style: normal;
  }

.pmContainerCard {
}

.pmContainerGrid {
    display: grid;
    /* grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    /*overflow-y: hidden;*/
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-columns: 20% 20% 30% 30%;
    max-height: 100vh;
    /* min-height: 100vh; */
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    align-items: center;
}
.flexbox{
    justify-content: center;
    align-items: center;
    display: flex;
}
.pmContainerGridLeft {
    grid-column: 1/1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-right: 1px solid #D7D7D7;
}

.pmContainerGridLeftUpper {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
}

.pmContainerGridLeftMiddle {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    /* background-color: cyan;  */
}

.pmContainerGridLeftMiddle2 {
    justify-content: center;
}

.pmContainerGridLeftMiddle img{
    /* width: 300px;
    height:200px; */
    width: 100%;
    height:100%;
}

.pmContainerGridLeftLower {
    grid-column: 1 / -1;
    grid-row: 3 / 3;
}

.pmContainerGridLeftLower img{
    /* width: 300px;
    height:200px; */
    width: 100%;
    height:100%;
}

.pmContainerGridRight {
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 25% 30% 30%;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    padding-left: 20px;
}


.pmContainerGridHeader1,
.pmContainerGridHeaderTorque,
.pmContainerGridHeaderPosition,
.pmContainerGridHeaderTemperature{
    padding-left: 10px;
}


.pmContainerGridHeader1 {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    
}

.pmContainerGridHeaderTorque {
    grid-column: 2 / 2;
     grid-row: 1 / 2;
    
}

.pmContainerGridHeaderPosition {
    grid-column: 3 / 3;
    grid-row: 1 / 2;
    
}

.pmContainerGridHeaderTemperature {
    grid-column: 4 / 4;
    grid-row: 1 / 2;
    
}

.pmContainerGridRightUpper {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
}

.pmContainerGridRightMiddle {
    grid-column: 1 / -1;
    grid-row: 2 / 2;
}

.pmContainerGridRightLower {
    grid-column: 1 / -1;
    grid-row: 3 / 3;
}

.pmContainerGridRightRow {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 28% 35% 35%;;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    border-bottom: 1px solid #D7D7D7;
    padding: 15px;
}

.pmContainerTorque {
    grid-column: 1/1;
    grid-row: 1/1;
}
.pmContainerPosition {
    grid-column: 2/2;
    grid-row: 1/1;
}
.pmContainerTemperature {
    grid-column: 3/3;
    grid-row: 1/1;
}

.pmContainerHeaderTitle {
    font-weight: bold;
    width: 400px;
}

.pmAcousticInsightsTitle {
    font-weight: bold;
    padding-left: 10px;
}

.pmAcousticInsightsText {
    padding-left: 10px;
}

.pmContainer {
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid #D7D7D7; */
    height: 95%;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
    justify-content: center;
    align-items: center;
}

.pmContainerRight {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #D7D7D7;
    height: 35%;
    width: 95%;
    margin: 0 auto;
    padding: 5px;
    justify-content: center;
    align-items: center;
}
/* .pmContainerLeft {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #D7D7D7;
    height: 95%;
    width: 50%;
    padding: 5px;
    justify-content: center;
    align-items: center;
} */ 

/* .pmDetails {
    display: flex;
    flex-direction: column;
    height: 30%;
    width: 90%;
    margin: 5px;
    justify-content: center;
    align-items: center;
} */

.headers{
    display: flex;
    font-weight: bold;
    font-size: 1em;
    flex-direction:row;
    justify-content: space-around;
    font-family:"IbmPlexLight"
}