.lineList{
    display: flex;
    flex-wrap: wrap;
    /* font-family: "IbmPlexLight"; */
    font-weight: 300;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    width: auto;
    
}

.line_contents{
    min-height: 215px;
    min-width: 237px;
}
.line_contents div {
    padding: 10px 20px 10px 20px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: flex-start;
}

.line{
    font-size: 46px;
}

.lineList-BasicCard{
    margin: 13px 26px 13px 0px;
}

.spanStyle{
    display: flex;
    justify-content: space-between;
}

/* .spanWidth{
    width: 50%;
} */