/* .VisualInsights{
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr;
    /* grid-row-gap: 15px; */
    /* color: red; */
/* }

.persona-section{
    display: flex;
    border: 1px solid purple;
}

.robot-list-section{
    display: flex;
    border: 1px solid purple;
}  */

/* .VisualInsights{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.tabs{
    display: flex;
    /* font-family: "IbmPlexText"; */
}

.past_assignment{
    padding: 10px 20px 10px 30px;
    font-weight: 300;
}

.cur_assignment{
    /* text-decoration: underline solid #0061FF; */
    border-bottom: 1px solid #0061FF;
    padding: 10px 0px 10px 0px;
}