.layout{
    display: grid;
    grid-template-rows: 48px auto 48px;
    grid-template-columns: 48px auto 48px;
    border: 1px solid red;
    min-height: 100vh;
    /* grid-template-rows: 50px 90px 50px;
    grid-template-columns: 50px 90px 50px; */
}

.rightBar{
    grid-column-start: 3;
    grid-column-end: 4;
    width:48px;
    border: 1px solid green;
}

.footer{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    border: 1px solid yellow;
}