.imgContainer{
    display: flex;

    flex-direction: column;
    /* border: 1px solid red;  */
    height: 210px;
    width: 237px; 
}

.background{
    background-color: #B9B9B9;
}

.scoreContainer{
    
    display: flex;
    flex-direction: column;
    /* border: 1px solid green; */
    height: 210px;
    width: 237px;
    /* justify-content: center;
    align-items: center;     */
}

.img-BasicCard{
    margin: 13px 26px 0 0;
}

.score-BasicCard{
    margin-right: 26px;
}

.scoreContents{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 0 0 20px;
    height:auto;
    font-size: 14px;
}

.scoreItems{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    /* border-bottom: 1px solid #B9B9B9; */
}

.classification{
    font-size: 16px;
    padding-bottom: 5px;
}

.classification div{
    color: #0062FF;
    padding-left: 10px;
}

.scoreContents div{
    display: flex;
    /* padding-bottom: 5px; */
}

.confidenceContainer{
   display: flex;
   padding-bottom: 15px;
   align-items: center;
   /* border-bottom: 1px solid #B9B9B9; */

}

.confidenceBar{
    background-color: #B9B9B9;
    height: 5px;
    width: 45%;
    margin: 8px;
}


.scoreValidateContainer{
    display: flex;
    flex-direction: column;
}
.validateContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid green; */
    margin-right: 26px;
}

.validateContainer div{
    height: 34px;
    /* border: 1px solid purple; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.noButton{
    background-color: black;
    color: white;
}
.yesButton{
    background-color:#00FF93;
    color: black; 
}
